@model IEnumerable<CommandGenerator.Models.Enchantment>

@{
    ViewBag.Title = "Enchantment Index";
}

<h2>Enchantment Index</h2>

<p>
    Welcome to the Enchantment Index! Here, you can view all the enchantments available in our system.
</p>

<p>
    @Html.ActionLink("Create New Enchantment", "Create")
</p>

<table class="table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Item</th>
            <th>Level</th>
            <th>Creator</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Type)</td>
                <td>@Html.DisplayFor(modelItem => item.Item)</td>
                <td>@Html.DisplayFor(modelItem => item.Level)</td>
                <td>@Html.DisplayFor(modelItem => item.Creator)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    Can't find the enchantment you're looking for? You can always <a href="@Url.Action("Create")">create a new one</a>.
</p>
